.stats {
    grid-area: stats;
    background-color: white;
    margin-bottom: var(--grid-gap);
    margin-right: var(--grid-gap);
    box-shadow: 0px 0 3px hsl(224, 11%, 85%);
    border-radius: 0.2rem;
}
