.tests {
    display: grid;
    margin-top: var(--grid-gap);
    grid-area: tests;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--grid-gap);
    background-color: white;
    padding:var(--grid-gap);
    margin-left: Var(--grid-gap);
    margin-bottom: var(--grid-gap);
    box-shadow: 0px 0 3px hsl(224, 11%, 85%);
    border-radius: 0.2rem;
}

.tests .card:first-child {
    grid-row: span 2;
}

.card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    background-color: var(--primary-color-very-light);
    filter: grayscale(35%) opacity(0.6);
}
