/*.blog {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(340px, 1fr));
    background-color: var(--primary-off-white-color);
    height: 100%;
    padding: 20px;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
}*/

.blog {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
    gap: 20px;
    background-color: var(--primary-off-white-color);
}
